
  .product-info {
    .price-section {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      .previous-price {
        color: #666;
        font-size: 11.5px;
      }
      .price {
        font-size: 14px;
        margin: 4px 0 4px 0;
      }
      .final-price { font-size: 12.5px;}
    }
  }
  .seller {
    width: 100%;
    margin-bottom: 10px;
    .hr { margin-top: 22px;}
  }

.product-description {
  height: 50px;
  //max-height: 60px;
  overflow: hidden;
  color: #505050;
}
.more-info {
  margin-top: 10px;
  padding-top: 10px;
}

.dropdown-container {

  .dropdown {
    margin-bottom: 30px;
  }
}
.dropdown-link { margin-bottom: 50px;}

.product-slider-left {
  .product-slider-list {
    list-style: none;
    overflow: hidden;
    padding: 1px;
    margin: 1px;
    &:hover {
      opacity: .5;
      cursor: pointer;
    }
  }
}
.slick-list { padding: 0 !important;}
.product-info{
  font-family: 'Lora', serif;
  letter-spacing: 1px;
  h1 { font-size: 30px; }
  p { font-size: 14px;
      color: #505050;
  }
  span {
    font-size: 20px;
    color: #292929;

  }
}
#addToCart{
  background-color: #fa5400;
  color: #fff;
  outline: none;
  border-color: #fa5400;
  width: 50%;
  height: 40px;
  &:hover {
    background-color: #ddd;
    color: #333333;
  }
}
.add-to-cart-section{
  width:  100%;
  height: 48px;
  .accceblity {
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
  }
}
.links {
  display: block;
  padding-top: 10px;
  width: 100%;
  text-align: right;
  .text-small {
    display: inline-block;
    text-decoration: underline;
  &:hover { cursor: pointer;
  opacity: .7;}}
}
p.text-left { display: block; }
.hr { margin-top: 50px; }
h3.title-sec-rec { margin-top: 20px; }
.remocended-product-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  //margin-bottom: 30px;

  .remocended-product {
    margin-bottom: 30px;

    &:hover {
      border: 1px solid #b4b4b4;
      padding: 4px;
    }
    img {
      max-width: 220px;
      max-height: 220px;
      height: 100%;
      width: 80%;
      margin: auto;
      padding-top: 15px;
    }
    .title-recomaneded-product { font-size: 25px; }
    .price-recomaneded-product { width: 100%;
      display: block;}
  }
  a {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
    text-decoration: underline;
  }
}
h5.category-title{ margin: 5px 0 15px 0;}

.products-list-container{
  display: flex;
  .products-list {
    margin: 5px;
    height: 120px;
    border: 1px solid #c6c6c6;
    min-width: 100px;
    &:hover { opacity: .7; }
    p { margin-top: 5px; }
    p:last-of-type {margin-bottom: 7px;}
    .list-product-img {
      width: 70px;
      height: 55px;
      margin-left: auto;
      margin-right: auto;
    }
    .price-element { width: 100%;
      margin-top: 5px;
    }
  }
}
.products-list-container-listing-view {
  .products-list-listing-view { height: 85px; }
  flex-direction: column;
  width: 100%;
  .price-element-listing-view { line-height: 76px;
    float: right;}
  a.link-listing-view {
    margin-top: 9px;
    &:hover { text-decoration: none;}
    p.name-product-listing { font-size: 25px;
        color: black;}
  }
  img.img-listing-view {
    width: auto !important;
    float: left;
    margin-top: 16px;
    height: auto;
  }
}

