.info-box {
  border: 1px solid red;
  padding: 60px;

  .info-box-section {
    display: flex;
    justify-content: center;
    .price-section {
      .price {
        font-size: 14px;
      }
    }
  }

}
.opacity-element { opacity: .4; }
.info-box {
  .info-box-section{
    .price-section{
      .price.opacity-element { opacity: 1 !important;}
    }
  }
}
.info-box {
  .info-box-section.opacity-element{ opacity: .5}};
.test {
  &:hover {
    opacity: 0.6;
  }
}


.product-description {
  height: 50px;
  //max-height: 60px;
  overflow: hidden;
  color: #505050;
}
.more-info {
  margin-top: 10px;
  padding-top: 10px;
}

.test-li {
  font-size: 12px;
  list-style: none;

  height: 50px;
  border: 1px solid #1f648b;
  .test-link {
    .test-p{ line-height: 42px;
        .test-small { float: right;}
    }
  }

}
.active-li { border-color: greenyellow !important; }

.dropdown-container {

  .dropdown {
    margin-bottom: 30px;
  }
}
.dropdown-link { margin-bottom: 50px;}


