.menu {
  width: 90%;
  height: 50px;
  display: inline-block;
  .top-menu-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    line-height: 45px;
    padding-left: 0;
    background-color: #E5E5E5;
    .top-menu-item {
      min-width: 100px;
      height: 43px;
      border: 1px solid #999;
      margin: 3px 8px 3px 0;
      border-radius: 5px;
      text-align: center;
      background-color: #999;
      font-size: 12px;
      color: white;
      &:first-of-type { margin-left: 10px; }
      &:hover {
        cursor: pointer;
        opacity: .7;
      }
    }
  }
}
.dropdown {
  .btn{
    width: 94%;
    padding-right: 0;
    padding-left: 0;
    background-color: #999;
    border: none;
    color: white;
    font-size: 12px;
  }
}

.js-hidden-count-element {
  display: inline-block;
  padding: 20px 5px 29px 5px;
  text-align: center;
  height: 41px;
  background-color: #f0ad4e;
  color: #fff;
}